@media (min-width:1441px) {
    .welcomeImage{
        min-width: 1440px
    }
}

@media (max-width: 1400px) {


    .slider-cursor:nth-child(4) {
        display:flex;
      }

    .library-images1{
        margin-left: -4%;
    }

    .library-images2{
        padding-left: 2%;
    }
    }   

@media (max-width: 1250px) {
    .favorites-items {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:1180px) {
    .Subtract {
        margin-right: 45px;
    }

    .navlist {
        padding: 0;
        flex-direction: column;
        width: 149px;
        height: 370px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .nav-sub {
        position: fixed;
        width: 332px;
        height: 570px;
        background-color: #0C0C0E;
        justify-content: center;
        transform: translateX(100%);
        /*right: 100%;*/
        margin: 0;
        z-index: 11;
        transition: all 0.2s ease 0s;
    }

    .nav-sub._active {
/*        right: 0;*/
    transform: translateX(-53%);
    transition: all 0.2s ease 0s;
    }

    .burger._active {
        display: none;
    }
 
    .Subtract {
        z-index: 13;
    }
    .burger{
        display: block;
        z-index: 12;
    }
    .burgerExit {
        z-index: 12;
    }

    .nav-container {
        margin-left: 0;
    }

    .slider-cursor:nth-child(5) {
        display:flex;
      }

    .library-images1 {
        margin: 0;
        margin-top: 20px;
        width: 100%;
        display: contents;
    }

    .about-images {
        margin-left: 0;
        justify-content: center;
    }

    .carret {
        display: flex;
        width: 24px;
        height: 24px;
        margin: 7.5%;
        top: 50%;
        position: absolute;
    }
    .carret.left{
        left:50px;
    }
    .carret.right{
        left:580px;
    }
}



@media (max-width:1024px) {
    .contacts-and-map {
        flex-direction: column;
    }

    .Card-information {
        flex-direction: column;
        align-items: center;
    }
    .drinks-foods {
        flex-direction: column;
    }
    .contacts-container {
        height: auto;
    }
    .librarycard-container {
        height: auto;
    }
    .contact-map {
        width: 100%;
        margin-top: 100px;
    }
    .about-autorisation {
        margin-top: 25px;
    }
    .foods {
        margin-top: 40px;
    }
    .get-card {
        text-align: center;
    }
    .about-get-card {
        text-align: center;
        width: 535px;
        margin-left: -39px;
    }
    .login-and-sign {
        justify-content: center;
        margin-top: 42px;
        margin-right: 20px;
    }
}

@media (max-width:768px) {
    .about-text{
        margin:60px 20px;
    }
    .about-images {
        margin-top: -39px;
        margin-bottom: -10px;
    }
    .favorites-container {
        margin-top: 53px;
    }
    .seasons-options{
        margin-left: 10px;
        width: 93%;
    }
    .coffeeshop-container {
        margin-top: 50px;
    }
    .favorites-text {
        margin-left: 20px;
    }
    .name-and-cost2{
        width: 64.5%;
    }
    .contact-header{
        margin-top: 0;
    }
    .contact-phones{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .library-director{
        margin-top: -20px;
    }
    .contact-map{
        width: 95%;
        margin-top: 82px;
        padding: 0 20px;
    }
    .Card-information{
        margin-right: 20px;
    }
    .librarycard-button{
        padding: 0;
    }
    .about-autorisation{
        margin-right: 0;
    }
    .footer {
        margin-top: 7px;
    }

    .slidersImages{
        grid-auto-columns: minmax(100%, 614px);
        column-gap: 0px;
        justify-items: center;
    }
}