html {
    scroll-behavior: smooth; 
    background-color: #808080;
    }
body {
    background-color:#FFFFFF;
    margin: 0;
}
body.lock{
  overflow: hidden;
}

.bodyWrapper {
  display:block;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  margin:0px auto;
  font-family: 'Inter', sans-serif;
  font-family: 'Forum', cursive;
}

.headercontainer {
    display: flex;
    background-color: #0C0C0E;
    justify-content: space-between;
    padding: 0 20px;
    }
.navlist {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    }

.nav-container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
}

.LibraryName {
  color: #FFFFFF;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.navlink {
    padding: 0 15px;
    transition: all 3s ease;
    color: #FFFFFF;
    text-decoration: none;;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.navitem{
    font-size: 20px;
    transition: all 3s;
}

.navitem:hover{
  text-decoration: underline #FFFFFF;
  background-color: #BB945F;
  transition: all 2s;
}

.welcome-container {
  margin: 0 auto;
  height: 600px;
  display: flex;
}

.forWelcomeImage {
  max-width:1440px;
  height: 600px;
}

.welcomeImage {
  object-fit: cover;
  height: 600px;
  min-width: 100vW;
  z-index: 0;
}

.welcomeText {
    display: flex;
    position: absolute;
    margin-top: 220px;
    width: 600px;
    height: 220px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.gradient {
display: flex;
}

.gradient::before {
  content: '';
  z-index: 10;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}
.name-text {
  color: #FFFFFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.Subtract-container{
    display: flex;
    align-items:center;
    margin-left: 25px;
}
.Subtract {
  cursor: pointer;
}
.nav-sub {
    display: flex;
    align-items:center;  
    margin-right: 10px;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 20px;
    font-family: Forum;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    position: relative;
}

.about-container{
margin: 0;
height: 810px;
}

.h2-underline ::after{
    display: block;
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    margin: 20px 0 0 47%;
}

.about-text{
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  margin-top: 60px;
}

.about-images{
    display: flex;
    max-width: 100%;
    align-items: center;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

.slidersImages{
  display: grid;
  grid-auto-columns: minmax(33.3334%, 450px);
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  position: relative;
  left: 0;
  width: 100%;
  margin: 20px 0 0 20px;
  transition: all 0.5s;
  box-sizing: border-box;
}

.library-images1{
    margin-right: 20px;
    object-fit: cover;
}

.library-images2{
    margin-right: 20px;
    object-fit: cover;
}

.library-images3{
    margin-right: 20px;
    object-fit: cover;
}




.library-images4{
  margin-right: 20px;
  object-fit: cover;
}

.library-images5{
  margin-right: 20px;
  object-fit: cover;
}

.about-slider{
    display: flex;
    justify-content: center;
}

.slider-cursor{
    display: flex;
    width: 26PX;
    height: 26px;
    margin-top: 31px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slider-cursor:nth-child(4) {
  display:none;
}

.slider-cursor:nth-child(5) {
  display:none;
}

.slider-element{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color:#000000;
}

.slider-element.active{
    background-color: #BB945F;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.favorites-text{
    margin-top: 60px;
    margin-left: 26px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
}

.seasons-options{
  display: flex;
  margin: 42px 30px 2px 20px;
  width: 48%;
  justify-content: space-between;
}

.radio-container{
    padding: 0 5px;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    accent-color: #000000;
}

input:checked + label {
    font-weight: 700;
  }

  .radio-label{
    cursor: pointer;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    margin-left: 8px;

  }

  .favorites-items {
    display: flex;
    margin: 0 53px 40px 24px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .favorites-book {
    display: flex;
    width: 550px;
    height: 555px;
    flex-wrap: wrap;
    border: solid 1px #000000;
    margin-top: 40px;
  }

  .h3-books {
    color: #000000;
    font-family: Forum;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: -8px 20px;

  }
  .h3-books ::after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #BB945F;
  }

  .books-content {
    max-width: 357px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: justify;
    margin: 0 0 60px 20px;
    align-self: flex-start;
    max-height: 300px;
    font-family: Inter;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
  }

  .books-name {
    width: 100%;
    color: #000000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: -16px 20px;
  }

  .buy {
    width: 75px;
    height: 30px;
    position: absolute;
    transform: translate(22px,507px);
    background-color:#FFFFFF;
    transition: all 2s;
    cursor: pointer;
  }

  .buy:hover {
    border: 1px solid #BB945F;
    background-color: #BB945F;
    transition: all 2s;
  }

  .books-image {
    position: absolute;
    transform: translate(390px,256px);
    width: 200px;
    height: 300px;
  }
  .books-author{
    color: #000000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 100%;
    margin: -10px 20px 0 20px;
  }

  .own {
    display: flex;
    width: 75px;
    height: 30px;
    position: absolute;
    transform: translate(20px,511px);
    border: 1px solid #BB945F;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#BB945F
  }


  .coffee-shop-info {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.8px;
    margin: 55px 20px;
    text-align: center;
    font-style: normal;
  }
  
  .drinks-and-desserts{
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
  }

  .menu-name {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 220px;
  }

  .menu-cost{
    font-family: Forum;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .drinks-foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -11px 20px;
  }

  .drinks{
    display: flex;
    flex-direction: column;
    height: 520px;
    justify-content: space-between;
  }
  .name-and-cost{
    display: flex;
    width: 438px;
    justify-content: space-between;
  }

  .name-and-cost2{
    display: flex;
    width: 438px;
    justify-content: space-between;
  }

  .coffeeshop-container {
    margin:66px 0 20px 0;
  }

.menu-line {
  width: 100px;
  height: 1px;
  background-color:#BB945F;
  align-self: center;
}

.foods {
  display: flex;
  flex-direction: column;
  height: 520px;
  justify-content: space-between;
  align-items: flex-end;
}

.drink-name {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 220px;
  text-align: right;
}

.contacts-container{
  height: 505px;
  margin: 70px 20px 20px 20px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-header {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
  margin-top: -13px;
}

.contact-phones {
  display: flex;
  width: 505px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -30px
}
.contact-map {
  display: flex;
  width: 50%;
  height: 410px;

}

.contacts-and-map {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
}

.phone-number {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0;
}

.tel-number {
  text-decoration: none;
  color:#000000;
}

.library-director{
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
margin-top: -40px;
}
.map {
  width: 100%;
  height: 100%;
}

.librarycard-container {
  margin-top: 60px;
  height: 573px;
}

.Card-information {
  display: flex;
  margin: 63px 0 0 20px;
  justify-content: space-between;
}

.YourLibraryCard {
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: center;
  margin-top: 0;
  font-style: normal;
  line-height: normal;
  }

.LibraryCard-and-button{
  display: flex;
  width: 595px;
  height: 380px;
  border: 3px solid #BB945F;
  background: #FFF;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .LibraryCard-form {
    width: 560px;
    height: 272px;
    background: #BB945F;
    margin: 20px;
  }
  .form-name {
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin: 0 20px 20px 20px;
    padding-top: 20px;
  }

  .reader-name {
    width: 500px;
    height: 66px;
    margin: -2px 20px 25px 20px;
    border-radius:10px;
    padding-left: 20px;
    font-family: Forum;
    font-size: 30px;
    line-height: 66px;
    letter-spacing: 0.6px;
  }

  .reader-name::placeholder {
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    line-height: 66px;
    letter-spacing: 0.6px;
  }

  .librarycard-button {
    width: 242px;
    height: 44px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 37px;
    align-items: flex-end;
    background-color:#FFFFFF;
    cursor: pointer;
    transition: all 2s ease;
  }

  .librarycard-button:hover {
    border: 1px solid #BB945F;
    background-color: #BB945F;
    transition: all 2s ease; 
  }

  .about-autorisation {
    width: 456px;
    height: 253px;
    margin-right: 20px;
  }

  .get-card {
    font-family: Forum;
    font-size: 30px;
    letter-spacing: 0.6px;
    text-align: right;
  }

  .about-get-card {
    color: #000000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    margin: 35px 0;
  }

  .login-and-sign {
    display: flex;
    justify-content: right;
  }

  .sign {
    width: 75px;
    height: 30px;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    margin-left: 20px;
    background-color:#FFFFFF;
    cursor: pointer;
    transition: all 2s ease;
  }
  
  .sign:hover {
    border: 1px solid #BB945F;
    background-color: #BB945F;
    transition: all 2s;
  }

  .footer {
    display: flex;
    background-color:#000000;
    height: 250px;
    margin-top: 25px;
    flex-direction: column;
  }

  .location {
    width: 229px;
  }

  .map-location{
    text-decoration: none;
    color:#FFFFFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

  .work-schedule {
    width: 149px;
    height: 40px;
  }

  .work-time {
    color: #FFFFFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
  }

  .location-and-time {
    display: flex;
    justify-content:space-between;
    margin: 20px;
  }

  .social-time{
    display: flex;
    justify-content:space-between;
    margin: -10px 20px 25px 20px;
  }

  .social-media{
    display: flex;
    width: 102px;
    justify-content: space-between;
    padding: 0;
    margin: 8px 0
  }

  .footer-line{
    width: 96%;
    border:1px solid #FFFFFF;
    margin-left: 20px;
  }

  .about-me {
    display: flex;
    justify-content: space-between;
    margin: 44px 20px 44px 20px;
  }

  .year {
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    margin-top: 0;
  }
  .my-name {
    display: flex;
    width: 113px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
  }

  .rss {
    display: flex;
    width: 302px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 60px;
    padding-right: 60px;
  }

  .map {
    object-fit: cover;
  }
  
  .imageOfLibrary {
    object-fit: cover;
  }
  
  .burger {
    padding: 0;
    margin: 0;
    display: none;
    cursor: pointer;
    }

    .burgerExit {
      padding: 0;
      margin: 0;
      width: 32px;
      height: 32px;
      display: none;
      cursor: pointer;
      margin-right: 10px;
      padding-left: 3px;
    }

    .burgerExit.open {
      display: block;
    }

    .carret {
      display: none;
      margin: auto;
      cursor: pointer;
      z-index: 3;
    }

    .carret[disabled] {
      cursor:inherit;      
    }

    .fade-in {
      animation: fadeIn ease 3s;
      -webkit-animation: fadeIn ease 3s;
      -moz-animation: fadeIn ease 3s;
      -o-animation: fadeIn ease 3s;
      -ms-animation: fadeIn ease 3s;
    }
    
    @keyframes fadeIn {
      
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    .fade-out {
      animation: fadeOut ease 3s;
      -webkit-animation: fadeOut ease 3s;
      -moz-animation: fadeOut ease 3s;
      -o-animation: fadeOut ease 3s;
      -ms-animation: fadeOut ease 3s;
    }
    
    @keyframes fadeOut {
      0% {opacity:1;}
      100% {opacity:0;}
    }
    
    @-moz-keyframes fadeOut {
      0% {opacity:1;}
      100% {opacity:0;}
    }
    
    @-webkit-keyframes fadeOut {
      0% {opacity:1;}
      100% {opacity:0;}
    }
    
    @-o-keyframes fadeOut {
      0% {opacity:1;}
      100% {opacity:0;}
    }
    
    @-ms-keyframes fadeOut {
      0% {opacity:1;}
      100% {opacity:0;}
    }

    .hidden {
      display: none;
    }

